html, body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}


.lobby {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.lobby-left {
  width: 70%;
  /*background: blue;*/
}

.lobby-right {
  width: 30%;
  /*background: gray;*/
}

.lobby-top {
  height: 20%;
}

.lobby-top-header {
  display: flex;
  flex-direction: row;
}

.lobby-playerCams {
  display: flex;
  flex-wrap: row;
  height: 70%;
  width: 100%;
}

.highlightedCam {
  width: 50%;
  background: blue;
  margin: 2%;
  /*padding: 10px;*/
  box-sizing: border-box;
}

.otherCams {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.otherCams-top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 4% 0 2% 0;
  box-sizing: border-box;
}

.otherCams-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 2% 0 4% 0;
}

.lobby-playerCam {
  /*padding: 10px;*/
  width: 50%;
  height: 100%;
  background: blue;
  box-sizing: border-box;
}

.cam2, .cam4 {
  margin-right: 4%;
}

.lobby-inviteLink {
  height: 10%;
}

.lobby-playerCam-ready {
  width: 50px;
  height: 50px;
  background: green;
  border: 2px solid gray;
  border-radius: 50%;
  position: relative;
  left: -2%;
  top: -2%;
}
